<h1>Nemecis</h1>
<div id="login-div">	
  <h2>Login</h2>		
  <p id="keyData">UserName:</p>
  <input [(ngModel)]="uName" >
  <p id="ppid">Password:</p>   
  <input [(ngModel)]="pWord" type="password">  
  <br>
  <br>
  <br>       
  <button type="button" class="btn btn-secondary" (click)="userLogin()">Login</button>
</div><!--
<button (click)="addElement()">Add Element</button>

<button (click)="append()">Add Element</button>

<div [innerHtml]="sh"  appDraggable>
<div [innerHtml]="sh" *appDraggableHelper></div>
</div>
-->