<!--<div class="topnav">
    <a href="#home">Home</a>
    <a href="#news">Edit Personal Info</a>
    <a href="rform" action="rform" method="post">Apply For Tuition Reimbursement</a>
    <a href="#about">Reimbursement History</a>
    <a href="#about">Pending Reimbursements</a>
</div>-->

<ul>
    <li><h1>Nemecis Project</h1></li>
    <li><a (click)="home()">Home</a></li>
    <li><a (click)="edit()">Edit Personal Information</a></li>
    <li><a (click)="manage()">Manage Pages</a></li>
    <li><a (click)="explore()">Explore</a></li>
    <li style="float:right"><a>Logout</a></li>
</ul>