<app-navbar></app-navbar>
<h1>Rubiks Cube</h1>
<br>
<br>
<img src="https://c2.staticflickr.com/4/3245/2714493057_99d1798ff9_z.jpg?zz=1"/>
<div>
  <p>
    For centuries, people have been obsessed with puzzles.
   Ever since humans have been able to think they have been obsessed with the idea of pushing the boundaries of
   thier minds and problem solving abilities. The Rubiks Cube is the latest in the series.
  </p>
  <p>
    A Rubiks Cube is a puzzle built with 26 cubes and 54 visible sides that each contain pne of six colors.
    The goal of an individual attempting to solve a Rubiks cube is match all of the cubes of the same color
    and have them together on the same face of the overall puzzle as the rest of the cubes by twisting and
    turning the cube until your goal is achieved.
  </p>
  <p>
    This appears simple at first, but becomes more complex as you work through the puzzle, as you have to maintain
    the current face you have 'solved' while continuing to finish matching together the other faces of the puzzle.
    This is accomplished through various algorithmns, and there is no one solution. Many people can solve the
    Rubiks Cube in various ways, with some of the faster and more common methods having names. 
  </p>
  <p>
    While the Rubiks Cube is popular, it is far from being a challenge in the current day and age.
    Many individuals can solve the Rubiks Cube, and in the day of the internet those who can't can simply use a
    search engine such as google or bing in order to find out.
  </p>
  <p>
    This problem is not limited to the Rubiks Cube, as more and more individuals are just looking up the answers online
    It is a good solution, as it saves many hours of frustration of not being able to solve a puzzle which already
    has a solution. However, this is not a good thing for puzzles, as they tend to not present the same challenge or
    excitement that they once had.
  </p>
  <p>
    Is this the end of puzzles? I say no. There are still plenty of people in the world who want to see puzzles succeed
    and still enjoy the thrill of going through and solving a puzzle that they previously didn't have the answer to.
    These are the individuals who will keep puzzles going regardless of the number of tutorials of how to solve them
    online, or the increasing number of people turning to things like video games or their phones to entertain
    themselves instead. Puzzles will always have a place as long as there are people who are willing to and enjoy
    solving them
  </p>
</div>
<h6>Did you like this article? Comment your opinion down below:</h6>
Comment: <input type="text"/> <button>Comment</button>
<ul>
  <li><textarea>This was an absolutely terrible article and I hated it!</textarea></li>
  <li><textarea>Great article on puzzles. I really wish people would do more with them.</textarea></li>
  <li><textarea>I'm the best at solving Rubiks Cubes. Like, the best, ever.</textarea></li>
</ul>
