h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    cursor: pointer;
    text-align: center;
}

ul li button {
    background-color: #6A5ACD;
    border: none;
    color: white;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

ul li button:hover {
    background-color: #008080; 
    box-shadow: 0 12px 16px 0 rgba(252, 252, 252, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    cursor: pointer;
}